################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AutoCADAutomation/.vs/AutoCADAutomation
/AutoCADAutomation/x64/Debug
/AutoCADAutomation/AutoCADAutomation/x64/Debug
